html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
  background-color: #F4F4F4;
  font-family: "Futura",Helvetica,Arial,sans-serif !important;
  letter-spacing: 0.5px !important;
  color: #0E0B16 !important;
}

.open-sans-regular {
  font-family: 'Open Sans', sans-serif !important;
}

.open-sans-light {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 300 !important;
}

nav {
  background-color: #FFFFFF;
  opacity: 0.97;
}

.navbar-brand {
  padding: 20px 15px !important;
}

a {
  color: #0E0B16 !important;
}

.nav a {
  padding: 25px !important;
  color: #0E0B16 !important;
}

.nav,li,a:hover,a:focus {
  background: none !important;
  cursor: pointer;
}

.mobile-display {
  display: none;
}
.desktop-display {
  display: block;
}

.screens {
  float: right;
}

.devicon {
  padding-right: 10px;
}

.margin-top-0 {
  margin-top: 0 !important;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.left-border {
  border-left: 2px solid #0E0B16;
  padding-left: 25px;
}

.red {
  color: #C40C3E !important;
}

.hover-red {
  transition: 2s ease;
}

.hover-red:hover {
  color: #C40C3E !important;
}

.divider {
  margin-top: 175px;
  margin-bottom: 175px;
}

.modal-content {
  border-radius: 2px !important;
}

ul.contact-list li {
  list-style: none;
  margin-right: 25px;
  margin-bottom: 10px;
}

.fa-fw {
  margin-right: 15px;
}

.button {
  margin-top: 50px;
  border-radius: 2px;
  padding: 10px 25px 10px 25px;
  background: none;
}

.button-default {
  border: 1px solid #C40C3E;
  color: #C40C3E;
  background-position: 0 -50%;
	background-repeat: repeat-x;
	transition: background-position 2s ease;
  background-image: url('https://i.imgur.com/on20kPX.png');
}

.button-default:hover {
  background-position: 100% 60%;
	color: #FFFFFF !important;
}

a,button.button-default {
  transition: 2s ease;
}

a,button.button-default:hover {
  text-decoration: none !important;
}

ul.icon-list li {
  list-style: none;
  padding-bottom: 5px;
}

a,a:visited,a:hover,a:active {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
	position: relative;
  transition: 0.5s color ease;
	text-decoration: none;
}

a:hover,a.active {
	color: #C40C3E !important;
}

a.link:after,a.active:after {
  content: "";
  transition: 0.5s all ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position:absolute;
}

a.link:after,a.active:after {
  bottom: 0.75em;
}

a.link:after,a.active:after {
  height: 5px;
  height: 0.35rem;
  width: 0;
  background: #C40C3E;
}

a.link:after,a.active:after {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

a.link:hover:after,a.active:after {
  width: 65%;
}

.flip-chomp {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

#back-wave {
  animation-duration: 2s;
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
}

#middle-wave, #barrel-a, #barrel-b, #barrel-c {
  animation-duration: 3s;
  -moz-animation-duration: 3s;
  -webkit-animation-duration: 3s;
}

#front-wave {
  animation-duration: 2s;
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
}

.project-gallery-image {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 2px;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-bottom: 25px;
}

.project-gallery-image:hover,.project-gallery-image.hovered,#page-scroll-top:hover {
  cursor: pointer;
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  color: #C40C3E !important;
}

#page-scroll-top {
  position: fixed;
  z-index: 9999;
  margin-left: 25px;
  bottom: 25px;
  display: none;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (max-width: 768px) {
  .mobile-display {
    display: block !important;
  }

  .desktop-display {
    display: none !important;
  }

  #name-title {
    width: 75%;
  }

  #chomp {
    width: 80px;
  }

  #back-wave {
    height: 200px;
    width: 120vw;
  }

  #middle-wave {
    height: 200px;
    width: 120vw;
  }

  #front-wave {
    height: 180px;
    width: 120vw;
  }

  .divider {
    margin-top: 75px;
    margin-bottom: 75px;
  }

  .screens {
    float: none !important;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
  }

  #aquis-project {
    padding-top: 200px;
  }

  html, body {
    overflow-x: hidden;
  }
}
