.pure-menu-link:hover {
  color: #0ce695 !important;
  cursor: pointer;
}

.devicon {
  font-size: 2em;
}

.horizontal-scroll {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.slick-next:before {
  content: ">" !important;
  font-weight: bolder;
}

.slick-prev:before {
  content: "<" !important;
  font-weight: bolder;
}

#general-assembly {
  width: 100%;
}

.white-border {
  border: 5px solid white;
}


.pure-menu-list-responsive {
  display: none !important;
  background-color: black;
}

.social-media {
  background: none !important;
}

.golden {
  color: #f5b833;
}

#send-email {
  font-size: smaller;
}

#send-email, #envelope {
  background-color: white;
}

#email-address {
  display: none;
}

.email-button {
  background-color: white;
  color: black;
  padding: 0.3em 1em;
  width: 20%;
  border-radius: 20px;
}

.email-button:hover {
  position: relative;
   top: -3px;
   left: -3px;
   box-shadow: 1px 1px #fe41b4,
                2px 2px #fe41b4,
                3px 3px #fe41b4,
                4px 4px #fe41b4,
                5px 5px #fe41b4,
                6px 6px #fe41b4;

}

.project-github {
  color: white;
  font-size: 2em;
}

.project-github:hover {
  position: relative;
   top: -3px;
   left: -3px;
   text-shadow: 1px 1px #fe41b4,
                2px 2px #fe41b4,
                3px 3px #fe41b4,
                4px 4px #fe41b4,
                5px 5px #fe41b4,
                6px 6px #fe41b4;
}

.school {
  margin-bottom: 0.5vh;
  letter-spacing: 0.1em;
  font-weight: 400;
}

.degree {
  margin: 0;
}

.section-divider {
  border-bottom: 2px solid #7f8c8d;
}

a {
  text-decoration: none;

}

a:hover {
  text-decoration: none;

}

.carat {
  color: #7f8c8d;

}

.carat:hover {
  color: #f5b833;
}

.job-title {
  margin-bottom: 0;
}

.date-range {
  margin-top: 0;
  margin-bottom: 1vh;
  color: #6fbef3;

}

.circle-image {
  border-radius: 50%;

}

#headshot {
  width: 10vw;
  margin-right: 1.5vw;
}

#featured {
  position: relative;
}

#featured-screenshot {
  /*width: 61.5%;
  height: 33.9vh;*/
  position: absolute;
  z-index: 2;
  /*left: 10.4vw;*/
  /*top: 31.5vh;*/
  left: 35%;
  width: 30%;
  /*top: 20.8%;*/
  top: 33.8vh;
  /*height: 16.5%;*/
  height: 27vh;
}

#macbook {
  /*width: 90%;
  height: 49vh;*/
  height: 40vh;
  width: 38vw;
}

.glow {
  text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}

.description {
  width: 60%;
}

.section-icon {
  margin-bottom: 3vh;
  font-size: 2em;
}

.screenshot {
  width: 100%;
  margin-top: 7vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 3vh;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

textarea {
    resize: none;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#left-subhead-line {
  float: left;
  width: 100px;
}

#right-subhead-line {
  float: right;
  width: 100px;
}

#natawls {
  text-transform: lowercase;
}

#real-name {
  font-size: 7vw;
  font-weight: 900;
  -webkit-animation-duration: 2s;
  /*-webkit-animation-delay: 1s;*/
  /*margin-top: -350vh;*/
  display: inline-block;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  backround: none !important;
}

#real-name.splash-head {
  background: none !important;
}

#developer {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  color: black;
  font-weight: bolder;
  font-size: 1.3em;
  background: none !important;
}

.blue-background {
  background-color: #6FBEF3;
}

/*#comic-name {
  -webkit-animation-delay: 2s;
  font-family: 'Comic Sans MS';
  font-size: 6em;
  font-weight: 900;
  display: inline-block;
  margin-top: 9.5vh;
}*/

.header-underline {
  width: 40vw;
  color: #6FBEF3;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: black;
}

/*
 * -- BASE STYLES --
 */
body {
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 13px;
    background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #34495e;
}

p, ul {
font-weight: lighter;
-webkit-font-smoothing: antialiased;
color: #d0cfcf;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
 * -- LAYOUT STYLES --
 */
.l-box {
    padding: 1em;
    background-color: black !important;
}

.l-box-lrg {
    padding: 2em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.is-center {
    text-align: center;
}



/*
 * -- PURE FORM STYLES --
 */
.pure-form label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 100%;
}

.pure-form input[type] {
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    width: 100%;
    margin-bottom: 1em;
}

/*
 * -- PURE BUTTON STYLES --
 */
.pure-button {
    background-color: white;
    color: black;
    padding: 0.5em 2em;
    /*width: 10%;*/
}

a.pure-button-primary {
    background: white;
    color: black;
    font-size: 120%;
}

a.social-buttons {
    background: #fe41b4;
    color: white;

    text-shadow: 0 0 2px black;
    font-size: 120%;
    padding: 0.1em 0.6em;
    margin-right: 0.5vw;
}

.pinkify {
  background: #fe41b4;
}

a.social-buttons:hover {
    background: #fe41b4;
    color: #6FBEF3*/
}




/*
 * -- MENU STYLES --
 */

.home-menu {
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}
.home-menu {
    background: black;
}
.pure-menu.pure-menu-fixed {

    border-bottom: none;

    z-index: 4;
}

.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}

.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu a {
    padding-top: 0.7em;
    color: white;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}


/*
 * -- SPLASH STYLES --
 */

.splash-container {
    background-size: cover;
    background-image: url("http://i.imgur.com/fMTnqTD.jpg") !important;
    background-repeat: no-repeat;
    z-index: 1;
    overflow: hidden;

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed !important;
}

.splash {
    /* absolute center .splash within .splash-container */
    /*width: 80%;*/
    width: auto;
    height: 50%;
    margin-top: 20vh;
    margin-left: 45vw;
    position: absolute;
    top: 100px; left: 0; bottom: 0; right: 0;
    text-align: center;
    background: none !important;
}


.splash-head {
    font-size: 7em;
    color: white;
    letter-spacing: -3.5px;
    /*padding: 1em 1.6em;*/
    /*font-weight: 100;*/
    /*border-radius: 5px;*/
    /*line-height: 1em;*/
    /*width: 100vw;*/
    /*margin-left: -25vw;*/
}




.splash-subhead {
    color: white;
    letter-spacing: 0.3em;
    opacity: 0.8;
}

/*
 * -- CONTENT STYLES --
 */
.content-wrapper {

    position: absolute;
    top: 100%;
    width: 90%;
    min-height: 12%;
    z-index: 2;

    margin-left: 5vw;
}

.content-head {
    font-weight: 400;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
    /*font-size: 10em;*/
    color: white;
}

.content-head-ribbon {
    color: #1ef2f6;
}

.content-subhead {
    color: #0ce695;
}
    .content-subhead i {
        margin-right: 7px;
    }


.ribbon {
    background: #2d3e50;
    color: #aaa;
}


footer {
  /*font-weight: bolder;*/
  color: white;
  /*padding-left: 9vw;*/
  width: 100vw;
  z-index: 2;
  font-size: smaller;
  color: #d0cfcf;
  letter-spacing: 0;
}

footer#span {
  background: none !important;
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 */
@media (min-width: 48em) {

    body {
        font-size: 16px;
    }
    .content {
        padding: 1em;
    }
    .home-menu {
        text-align: left;
    }
        .home-menu ul {
            float: right;
        }

/*
  .splash-container {
        height: 500px;
    }*/

    .splash {
        width: 50%;
        height: 50%;
    }

    .splash-head {
        font-size: 250%;
    }



    .l-box-lrg {
        border: none;
    }

}

/* COLLAPSE */
.web-designer-details,
#show1,
#hide1:target {
    display: none;
}

#hide1:target + #show1,
#hide1:target ~ .web-designer-details {
    display: inline;
}

.tutor-details,
#show2,
#hide2:target {
    display: none;
}

#hide2:target + #show2,
#hide2:target ~ .tutor-details {
    display: inline;
}

.manager-details,
#show3,
#hide3:target {
    display: none;
}

#hide3:target + #show3,
#hide3:target ~ .manager-details {
    display: inline;
}

.yelp-details,
#show4,
#hide4:target {
    display: none;
}

#hide4:target + #show4,
#hide4:target ~ .yelp-details {
    display: inline;
}

.wdi-details,
#show5,
#hide5:target {
    display: none;
}

#hide5:target + #show5,
#hide5:target ~ .wdi-details {
    display: inline;
}

/* END COLLAPSE */

/*
 * -- MEDIA QUERIES --
 */

@media only screen and (max-width: 500px) {
    .splash {
       margin-left: 0;
       margin-right: 0;
       margin-top: 48vh;
       width: 100%;
    }
    #real-name {
      font-size: calc(3.5em + 1vw);

    }
    #developer {
      font-size: calc(0.9em + 1vw);
      color: white;
      text-shadow: 2px 2px 4px #000000;
      letter-spacing: 0.01em;
    }
    .social-media {
      margin-top: -40vh;
      display: inline;
    }
    .description {
      width: 100%;
    }
    .email-button {
      /*padding: 0.3em 1em;*/
      width: 60%;

    }
    #headshot {
      width: 32vw;
      margin-right: 1em;
    }
    #ga-responsive {
      width: 100%;
    }
    #jobs {
      width: 100%;
    }
    a.social-buttons {
      padding-left: 0.5em;
      padding-right: 0.5em;
      font-size: 1.8em;
    }
    #contact {
      padding-top: 0 !important;
    }
    .screenshot-box {
      width: 100%;
    }
    #send-email {
      display: none;
    }
    #email-address {
      display: inline-block;
      background: white;
      font-size: 0.8em;
    }
    .slick-initialized .slick-slide {
      height: 190px;
    }
    .pure-menu-list {
      display: none !important;
    }
    .pure-menu-list-responsive {
      padding-left: 0;
    }
      #nh {
        float: left;
        margin-top: 0;
      }

}
